@tailwind base;
@tailwind components;
@tailwind utilities;


.auth-shadows{
  box-shadow: -1px 1px 14px -2px rgba(0,0,0,0.55);
-webkit-box-shadow: -1px 1px 14px -2px rgba(0,0,0,0.55);
-moz-box-shadow: -1px 1px 14px -2px rgba(0,0,0,0.55);
}